body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

#topbar {
    background-color: #dbdbdb;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#mainlink {
    font-size: 2rem;
    text-decoration: none;
}

#search-form {
    display: flex;
    flex-direction: row;
}

#search-form input {
    flex-grow: 2;
    border: none;
    border-radius: 8px 0px 0px 8px;
    padding: 4px 12px;
    font-size: 1.2rem;
    width: 12em;
}

#search-form input:focus {
    outline: none;
}

#search-form button {
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    border-radius: 0px 8px 8px 0px;
    padding-right: 8px;
}

#content {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}

#crate-list {
    display: flex;
    flex-flow: column nowrap;
}

.crate-box {
    background-color: white;
    font-size: 1.4em;
    border-radius: 6px;
    margin-bottom: 0.6em;
    padding: 0.4em;
}

.crate-box a {
    text-decoration: none;
}

#crate-display {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

#crate-details {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
}

.crate-section {
    background-color: white;
    padding: 1em;
    border-radius: 6px;
}

#crate-overview {
    margin-bottom: 1em;
}

#crate-overview h2 {
    margin-top: 0;
}

#crate-overview ul {
    margin: 0;
}

#crate-readme {
    padding-left: 2.4em;
}

.crate-version {
    color: gray;
}

#version-list {
    margin-left: 1em;
    flex-grow: 0;
}

#version-list h3 {
    margin-top: 0;
}